#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 100vh;
}
.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-flex-start {
  justify-content: flex-start;
}


/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.header-logo img {
  width: 100px;
}

.header-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.header-nav ul li:last-child {
  margin-right: 0;
}

.header-nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.header-actions .header-signin {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.header-total-cost {
  font-weight: bold;
}

/* Footer.css */
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-info,
.footer-navigation,
.footer-social {
  flex: 1;
}

.footer h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer p,
.footer ul {
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}
